{require_min_otp_vsn, "R15"}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [{i, "include"},
			{src_dirs, ["src", "test"]}]}.

{sub_dirs, ["rel"]}.

{lib_dirs,["lib", "plugins"]}.

{deps_dir, ["lib"]}.

{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{elog, ".*", {git, "git://github.com/erylee/elog.git", {branch, "master"}}},
	{folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
    {msgbus_amqp_proxy, ".*", {git, "git://github.com/TigerZhang/msgbus_amqp_proxy.git", {branch, "master"}}},
    {msgbus_common_utils, ".*", {git, "git://github.com/TigerZhang/msgbus_common_utils.git", {branch, "master"}}}
]}.
